RewriteEngine On

# Hide .php extensions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Block access to config and admin folders
RewriteRule ^(config)/ - [F,L]
