RewriteEngine On

# Redirect if .php exists
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Block direct access to folders
RedirectMatch 403 ^/config/
RedirectMatch 403 ^/admin/
